html {
    font-family: 'Poppins', sans-serif;
    background: #0F2027;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #2C5364, #203A43, #0F2027);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: whitesmoke;
    width: 100vw;
    height: 100vh;
}

#title {
    margin: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-self: center;
}

i {
    text-align: center;
    font-size: 2em;
    margin-bottom: 0.5em;
}

h1 {
    font-size: 1.5em;
    margin: 0 auto;
}

#phases {
    border: 5px solid white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    height: 40vh;
    margin: 0 auto;
    text-align: center;
}

.phase {
    margin: 0 auto;
    width: 100%;
    text-align: center;

}

.current-phase {

    border-bottom: 5px solid yellowgreen;
}